@using Nekai.Common
@inherits LayoutComponentBase

<MudThemeProvider IsDarkMode="@IsDarkMode" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Color="Color.Primary" Elevation="4">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" OnClick="@ToggleMenu"/>
        <MudText Typo="Typo.h6" Class="ml-2">Nekai Manager</MudText>
    </MudAppBar>

    <MudDrawer @bind-Open="@IsMenuOpen">
        <MudNavMenu>
            <MudNavLink Href="" Match="NavLinkMatch.All">
                <MudIcon Icon="@Icons.Material.Filled.Home" />
                <span class="ml-2">Home</span>
            </MudNavLink>
            <MudNavLink Href="Logs">
                <MudIcon Icon="@Icons.Material.Filled.TableRows" />
                <span class="ml-2">Logs</span>
            </MudNavLink>
            <MudNavLink Href="Settings">
                <MudIcon Icon="@Icons.Material.Filled.Settings" />
                <span class="ml-2">Settings</span>
            </MudNavLink>
        </MudNavMenu>
    </MudDrawer>

    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

@code {
    public bool IsMenuOpen { get; set; } = true;
    public static bool IsDarkMode => NekaiGeneralConfiguration.Singleton.PreferDarkMode;

    public void ToggleMenu()
    {
        IsMenuOpen = !IsMenuOpen;
    }
}